.card-container {
    perspective: 1500px;
    width: 24rem;
    height: 36rem;
}

.card {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}